click==8.1.8
feedparser==6.0.8
Flask==2.0.2
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
MarkupSafe==3.0.2
numpy
scikit-learn
Scipy
Sgmllib3k==1.0.0
sqlitedict==1.7.0
threadpoolctl==3.5.0
Werkzeug==2.3.8
pymilvus==2.5.4
tqdm
