<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wyszukiwarka publikacji</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
<div id="header">
    <a href="/" id="home-link">📄</a>
    <div id="right-nav">
        <a href="/profile">Moje konto</a>
    </div>
</div>

{% block content %}{% endblock %}

<script>
document.getElementById('toggle-theme').onclick = () => {
    document.body.classList.toggle('dark-theme');
};
</script>
{% block elements %}{% endblock %}
</body>
</html>
