{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2 style="text-align: center;">Folder: {{ current_folder }}</h2>
    <p style="text-align: center;"><a href="{{ url_for('profile') }}">&larr; Back to the list</a></p>
    <br />
    <br />
    <div class="card-grid" style="width: 90%; margin-left: 5%;">
      {% for paper in papers %}
        <a href="{{ url_for('inspect') }}?pid={{ paper.id }}" class="card">
          <h3>{{ paper.title }}</h3>
          <p class="author">{{ paper.authors }}</p>
          <p class="date">📅 {{ paper.time }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
