{% extends "base.html" %}

{% block variables %}
<script>
var paper = {{ paper | tojson }};
var words = {{ words | tojson }};
var words_desc = {{ words_desc | tojson }};
</script>
{% endblock %}

{% block content %}


<main class="main-container">
    <section class="article-section">
        <div class="article-header">
            <h1>{{ paper.title }}</h1>
            <a href="https://arxiv.org/pdf/{{ paper.id }}" target="_blank" class="pdf-download">Download PDF (arxiv)</a>
        </div>
        <p>{{ paper.summary }}</p>
    </section>

    <aside class="sidebar-section">
        <div class="author-box">
            <h2>{{ paper.authors }}</h2>
            <div class="date">{{ paper.time }}</div>
            <h3>Abstract</h3>
            <p>{{ paper.summary }}</p>
            <div class="tags">
                {% for tag in paper.tags.split(', ') %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="related-articles">
            <h3>Similar papers</h3>
            {% for sim_paper in similar_papers %}
            <div class="related-card" onClick="window.location.href = '?pid={{ sim_paper.id }}';">
                <h4>{{ sim_paper.title }}</h4>
                <p>Autorzy: {{ sim_paper.authors }}</p>
                <div class="tags">
                    {% for tag in sim_paper.tags.split(', ') %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </aside>
</main>
{% endblock %}
