{% extends "base.html" %}

{% block variables %}
{% endblock %}

{% block content %}
<div id="profilewrap" class="white-container-for-other-purposes">

    {% if user %}
    <div>
        <div>
            <div><b>Current session</b></div>
            <div>Logged in user: {{ user }}</div>
        </div>
        <br />
        <div>
            <div><b>Email recommendations</b></div>
            <div style="text-align: justify;">
                Users can receive regular new paper recommendations via email based on their tags.
                (This is still being developed, may not be running or may be unreliable.)
                Register your email address below to receive these recommendations.
                To stop the recommendations simply delete your email address.
            </div>
            <br />
            <div>
                <form id="email-form" action="{{ url_for('register_email') }}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email address" value="{{ email }}">
                        &nbsp;<input type="submit" class="btn" value="Set">
                    </div>
                </form>
            </div>
        </div>
        <br />
        <br />
        <div>
            <a href="{{ url_for('logout') }}" id="search-btn">Log out</a>
        </div>
    </div>
    {% else %}
    <div>

        <div id="profile-warning">
            <p style="text-align: justify;">
            Okay, arxiv-sanity-lite uses a super lite version of
            "user accounts" where there are no passwords. Basically, you can "log in"
            with any arbitrary username. If you want to share your library with a
            friend, you can just tell them the username. And if you'd like to keep your
            account private, just make your username be something unique
            and write it down somewhere safe.
            </p>
        </div>

        <form id="profile-login-form" action="/login" method="POST">
            <center>
                <i style="color: rgb(220, 0, 0)">TLDR: there are no passwords!</i>
                <br />
                <br />
                <div class="form-group search-container" style="background-color: rgb(234, 234, 234);">
                    <label>Username:&nbsp;</label>
                    <input class="form-control" type="text" name="username" id="search-bar">
                </div>
                <br />
                <br />
            </center>
            <button type="submit" class="btn" id="search-btn" style="float: right;">Log in</button>
            <br style="clear: both;" />
        </form>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block elements %}
{% endblock %}
